ws/WebContent/schemas/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://my.shop.com"
	targetNamespace="http://my.shop.com" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:element name="Products" type="Products" />
	<xs:complexType name="Products">
		<xs:sequence>
			<xs:element name="Pid" type="xs:integer" />
			<xs:element name="Pname" type="xs:string" />
			<xs:element name="Pdescr" type="xs:string" />
			<xs:element name="Pprice" type="xs:float" />
			<xs:element name="Ppicture" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema> 